[build]
  publish = "."

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api"
  status = 200

[[headers]]
  for = "/api/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Methods = "GET, OPTIONS"
